<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Backbone.js Library</title>
		<link rel="Stylesheet" type="text/css" href="css/smoothDivScroll.css" />
		<link href='https://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/screen.css">
		
		<style>
			
		
		
		</style>
    </head>
    <body>
	
	<div id="heading"> Book Review </div>
	<!--<div id="books">-->
	<div id="makeMeScrollable">
	

	</div>
	
	
	<script id="bookTemplate" type="text/template">
		<div id="titlecontent">
			<img src="<%= coverImage %>"/>
			<p id="title"><%= title %></p>
			<p id="subtitle"><span id="by">By:</span> <%= author %></p>	
			<p id="rating"><%= rating %></p>
		
			<p id="desc"><%= description %></p>
		</div>
	</script>
	
	
	
        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="js/models/book.js"></script>
        <script src="js/collections/library.js"></script>
        <script src="js/views/book.js"></script>
        <script src="js/views/library.js"></script>
        <script src="js/app.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

	<!-- jQuery UI Widget and Effects Core (custom download)
		 You can make your own at: http://jqueryui.com/download -->
	<script src="js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
	
	<!-- Latest version of jQuery Mouse Wheel by Brandon Aaron
		 You will find it here: http://brandonaaron.net/code/mousewheel/demos -->
	<script src="js/jquery.mousewheel.min.js" type="text/javascript"></script>

	<!-- jQuery Kinetic - for touch -->
	<script src="js/jquery.kinetic.min.js" type="text/javascript"></script>

	<!-- Smooth Div Scroll 1.3 minified -->
	<script src="js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>

	<!-- If you want to look at the uncompressed version you find it at
		 js/source/jquery.smoothDivScroll-1.3.js -->


	<!-- Plugin initialization -->
	<script type="text/javascript">
		// Initialize the plugin with no custom options
		$(document).ready(function () {
			// None of the options are set
			$("div#makeMeScrollable").smoothDivScroll({});
		});
	</script>
		
    </body>
</html>