<!DOCTYPE HTML>
<html>
<head>
	<title>Timeline of when your friends joined Twitter</title>

	<style>
	</style>
</head>

<body>
	<h2>Tweeter</h2>
	<div id="visualization"></div>

	<script>
	// Reference to the visualization container
	var container = document.getElementById('visualization')
	
	<div class="list-group">
	  <!-- loop over blog posts and render them -->
	  <ul>
	  <% countries.forEach((count) => { %>
	  	<li><%= count.country %> <%= count.woeid %></li>
	  <% }) %>
	  </ul>
	</div>
</script>
</body>
</html>